[general]
project = 
scenario-name = 
scenario = {general:project}/{general:scenario-name}
region = SG
weather = Singapore
multiprocessing = true
number-of-cpus-to-keep-free = 1
debug = false
district-heating-network = false
district-cooling-network = true
detailed-electricity-pricing = false

[data-helper]
archetypes = comfort, architecture, HVAC, internal-loads, supply, restrictions

[radiation-daysim]
buildings = 
n-buildings-in-chunk = 100
roof-grid = 10
walls-grid = 200
zone-geometry = 2
surrounding-geometry = 5
consider-floors = true
rad-ab = 4
rad-ad = 512
rad-as = 32
rad-ar = 20
rad-aa = 0.15
rad-lr = 8
rad-st = 0.5
rad-sj = 0.7
rad-lw = 0.05
rad-dj = 0.7
rad-ds = 0
rad-dr = 0
rad-dp = 32
albedo = 0.2

[demand]
buildings = 
loads-output = 
massflows-output = 
temperatures-output = 
resolution-output = hourly
format-output = csv
use-dynamic-infiltration-calculation = false
use-stochastic-occupancy = false
override-variables = false
write-detailed-output = false
predefined-hourly-setpoints = false

[emissions]
year-to-calculate = 2020

[benchmark-graphs]
project = {general:scenario}/..
scenarios = baseline, scenario1, scenario2
output-file = {benchmark-graphs:project}/benchmark-graphs.pdf

[extract-reference-case]
destination = C:/
case = open

[solar]
buildings = 
type-pvpanel = PV1
type-scpanel = FP
panel-on-roof = True
panel-on-wall = True
annual-radiation-threshold = 800
t-in-sc = 
t-in-pvt = 
solar-window-solstice = 4

[retrofit-potential]
keep-partial-matches = true
retrofit-scenario-name = retrofit-HVAC
retrofit-target-year = 2020
age-threshold = 15
eui-heating-threshold = 150
eui-hot-water-threshold = 50
eui-cooling-threshold = 4
eui-electricity-threshold = 20
emissions-operation-threshold = 30
heating-costs-threshold = 2
hot-water-costs-threshold = 2
cooling-costs-threshold = 2
electricity-costs-threshold = 2
heating-losses-threshold = 15
hot-water-losses-threshold = 15
cooling-losses-threshold = 15

[sensitivity-demand]
method = sobol
num-samples = 1000
calc-second-order = false
num-levels = 4
samples-folder = {general:scenario}/../samples
variable-groups = ENVELOPE, INDOOR_COMFORT, INTERNAL_LOADS
sample-index = 0
number-of-simulations = 
simulation-folder = {general:scenario}/../simulation
output-parameters = Qcs_sys_MWhyr, Qhs_sys_MWhyr, E_sys_MWhyr, Qhs_sys0_kW, Qcs_sys0_kW, E_sys0_kW
temporal-scale = yearly

[dbf-tools]
input-file = {general:scenario}/databases/{general:region}/archetypes/construction_properties.xlsx
output-file-name = converted_file
output-path = {general:scenario}

[shapefile-tools]
excel-file = {general:scenario}/inputs/building-geometry/zone.xls
shapefile = {general:scenario}/inputs/building-geometry/zone.shp
crs = {"lon_0": 7.439583333333333, "k_0": 1, "ellps": "bessel", "y_0": 200000, "no_defs": true, "proj": "somerc", "x_0": 600000, "units": "m", "lat_0": 46.95240555555556}
index = Name
polygon = True

[test]
reference-cases = open
tasks = all
verbosity = 1

[trace-inputlocator]
scripts = data-helper, demand, emissions
graphviz-output-file = {general:scenario}/outputs/trace_inputlocator.output.gv
yaml-output-file = {general:scenario}/outputs/trace_inputlocator.output.yml

[neural-network]
year = 2015
warmup-period = 759
nn-delay = 1
nn-passes = 3
number-samples-scaler = 3
number-samples = 3
number-sweeps = 3
autoencoder = false
boolean-vars = ECONOMIZER, WIN_VENT, MECH_VENT, HEAT_REC, NIGHT_FLSH
climatic-variables = drybulb_C, wetbulb_C, relhum_percent, glohorrad_Whm2, dirnorrad_Whm2, difhorrad_Whm2, skytemp_C, windspd_ms
random-variables = win_wall, Cm_Af, n50, U_roof, a_roof, U_wall, a_wall, U_base, U_win, G_win, rf_sh,
	Ths_set_C, Tcs_set_C, Ths_setb_C, Tcs_setb_C, Ve_lps, Qs_Wp, X_ghp, Ea_Wm2, El_Wm2,
	Vww_lpd, Vw_lpd, dThs_C, dTcs_C, ECONOMIZER, WIN_VENT, MECH_VENT, HEAT_REC, NIGHT_FLSH, dT_Qhs,
	dT_Qcs
target-parameters = Qhs_sys_kWh, Qcs_sys_kWh, Qww_sys_kWh, E_sys_kWh, T_int_C

[single-calibration]
variables = U_win, U_wall, U_roof, n50, Tcs_set_C, Hs
building = B01
load = E_sys
samples = 1000
iterations = 10000
show-plots = true

[thermal-network]
network-type = DC
network-names = 
file-type = shp
set-diameter = true
load-max-edge-flowrate-from-previous-run = false
start-t = 0
stop-t = 8760
minimum-mass-flow-iteration-limit = 10
minimum-edge-mass-flow = 0.1
diameter-iteration-limit = 5
substation-cooling-systems = ahu, aru, scu
substation-heating-systems = ahu, aru, shu, ww
disconnected-buildings = 

[thermal-network-optimization]
network-name = 
possible-plant-sites = 
min-number-of-plants = 1
max-number-of-plants = 1
number-of-individuals = 6
chance-of-mutation = 20
number-of-generations = 20
lucky-few = 1
optimize-loop-branch = false
optimize-network-loads = false
optimize-building-connections = false
use-rule-based-approximation = false
use-representative-week-per-month = false
yearly-cost-calculations = true

[optimization]
initialind = 3
halloffame = 20
ngen = 3
fcheckpoint = 1
maxtime = 604800
recoverycheckpoint = 0
random-seed = 

[plots]
buildings = 
categories = demand, solar_potentials, solar_technology, life_cycle_analysis, thermal_network
network-type = DC
network-names = 

[plots-optimization]
generation = 3
network-type = DC
multicriteria = true
categories = pareto_curve, system_sizes, costs_analysis

[plots-supply-system]
generation = 3
individual = ind1
network-type = DC
categories = system_sizes, costs_analysis, supply_mix, imports_exports, thermal_dispatch_curves, electrical_dispatch_curves

[plots-scenario-comparisons]
project = {general:scenario}/..
base-scenario = {general:scenario}
scenarios = {general:scenario}/1/ind2
categories = demand, supply_mix, costs_analysis, life_cycle_analysis, land_use
network-type = DC

[sewage]
heat-exchanger-length = 120
sewage-water-ratio = 0.95

[lake]
available = false
size = 0

[create-new-project]
project = cea-new-project
scenario = baseline
output-path = {general:scenario}/../..
zone = {general:scenario}/inputs/building-geometry/zone.shp
terrain = {general:scenario}/inputs/topography/terrain.tif
streets = {general:scenario}/inputs/networks/streets.shp
district = 
occupancy = 
age = 

[decentralized]
detailed-electricity-pricing = false

[network-layout]
network-type = DC
buildings = 
pipe-diameter = 150
type-mat = T1
create-plant = true
allow-looped-networks = false

[supply-system-simulation]
centralized-vcc = 0.5
centralized-ach = 0.4
centralized-storage = 0.1
reduced-timesteps = true
decentralized-systems = Vapor Compression Chiller
dc-connected-buildings = 

[multi-criteria]
generations = 3
network-type = DC
economicsustainability = 0.8
environmentalsustainability = 0.1
socialsustainability = 0.1
annualizedcosts = 0.8
capextotal = 0.1
opex = 0.1
emissions = 0.5
primaryenergy = 0.5
renewableshare = 1

[mpc-building]
time-start = 2005-01-01 00:00:00
time-end = 2005-01-01 23:30:00
set-temperature-goal = constant_temperature
constant-temperature = 25.0
pricing-scheme = constant_prices
constant-price = 255.2
min-max-source = constants
min-constant-temperature = 20.0
max-constant-temperature = 25.0
delta-set = 3.0
delta-setback = 5.0

[mpc-district]
time-start = 2005-01-01 00:00:00
time-end = 2005-01-01 23:30:00
set-temperature-goal = constant_temperature
constant-temperature = 25.0
pricing-scheme = constant_prices
constant-price = 255.2
min-max-source = constants
min-constant-temperature = 20.0
max-constant-temperature = 25.0
delta-set = 3.0
delta-setback = 5.0

[cooling-case-workflow]
scenario = 
last = 0

