[test_mixed_use_archetype_values]
expected_results = {"OFFICE": {"B1": 0.5, "B2": 0.25},
                    "GYM": {"B1": 0.5, "B2": 0.75},
                    "X_ghp": {"B1": 208.947368, "B2": 236.38297872340428},
                    "El_Wm2": {"B1": 12.9, "B2" :11.4}}

[test_mixed_use_schedules]
reference_results = {"people": 40.000000,
                    "Qs": 44.081633,
                    "ve": 55.730337,
                    "X": 51.320755,
                    "Ea": 603.00176815,
                    "El": 485.90928961,
                    "Epro": 794.3406456,
                    "Ed": 0,
                    "Vw": 0,
                    "Qhpro": 794.3406456}
