[test_mixed_use_archetype_values]
expected_results = {"El_Wm2": {"B1012": 14.94, "B1011": 7.95}, "use_type1r": {"B1012": 0.6, "B1011": 0.5}, "Occ_m2p": {"B1012": 0.0, "B1011": 0.0}, "X_ghp": {"B1012": 97.26027397260273, "B1011": 80.0}, "use_type3": {"B1012": "INDUSTRIAL", "B1011": "NONE"}, "use_type1": {"B1012": "OFFICE", "B1011": "OFFICE"}, "use_type2": {"B1012": "LAB", "B1011": "SERVERROOM"}, "use_type2r": {"B1012": 0.2, "B1011": 0.5}, "use_type3": {"B1012": 0.2, "B1011": 0.0}}

[test_mixed_use_schedules]
reference_results = {"Ea_W": 898.069, "Ed_W": 128295.589, "El_W": 10391.943, "Epro_W": 0.0, "Qcpro_W": 0.0, "Qcre_W": 0.0, "Qhpro_W": 0.0, "Qs_W": 0.0, "Tcs_set_C": "OFF", "Ths_set_C": "12.000", "Ve_lps": 0.0, "Vw_lph": 0.0, "Vww_lph": 0.0, "X_gh": 0.0, "people_p": 0.0}


