{% macro input(script, parameter) -%}
    {% if parameter.typename == "BooleanParameter" %}
    <div class="form-check">
    <label for="{{script}}-{{parameter.name}}" class="form-check-label">
        <input type="checkbox" id="{{script}}-{{parameter.name}}"
               name="{{parameter.section.name}}:{{parameter.name}}" class="form-check-input"
               {% if parameter.get() %} checked {% endif %}>{{parameter.name}}
    </label>
    <small id="{{script}}-{{parameter.name}}-help" class="form-text text-muted">{{parameter.help}}</small>
    </div>
    {% else %}
        <div class="form-group">
        <label for="{{script}}-{{parameter.name}}">{{ parameter.name }}</label>
        {% if parameter.typename == "ChoiceParameter" %}
        <select id="{{script}}-{{parameter.name}}"
                name="{{script}}-{{parameter.section.name}}:{{parameter.name}}" class="form-control">
        {% for choice in parameter._choices %}
            <option {% if parameter.get() == choice %}selected{% endif %}>{{choice}}</option>
        {% endfor %}
        </select>

        {% elif parameter.typename == "MultiChoiceParameter" %}
        <select id="{{script}}-{{parameter.name}}"
                name="{{script}}-{{parameter.section.name}}:{{parameter.name}}" class="form-control" multiple>
        {% for choice in parameter._choices %}
            <option {% if choice in parameter.get() %}selected{% endif %}>{{choice}}</option>
        {% endfor %}
        </select>

        {% elif parameter.typename == "SubfoldersParameter" %}
        <select id="{{script}}-{{parameter.name}}"
                name="{{script}}-{{parameter.section.name}}:{{parameter.name}}" class="form-control" multiple>
        {% for subfolder in parameter.get_folders() %}
            <option {% if subfolder in parameter.get() %}selected{% endif %}>{{subfolder}}</option>
        {% endfor %}
        </select>

        {% else %}

        <input id="{{script}}-{{parameter.name}}" class="form-control"
           name="{{script}}-{{parameter.section.name}}:{{parameter.name}}" type="text"
           value="{{parameter.get_raw()|e}}"
           aria-describedby="{{script}}-{{parameter.name}}-help"/>
        {% endif %}
        <small id="{{script}}-{{parameter.name}}-help" class="form-text text-muted">{{parameter.help}}</small>
        </div>
    {% endif %}
{%- endmacro %}