.git
.github

*.egg-info
*.egg
*.pyc
*.swp

__pycache__

# Virtual environment
.env
.env.local
.venv
venv
.pixi

# IDE files
.idea
.vscode
.DS_Store

# Testing and coverage
.pytest_cache
.coverage
.coverage.*
htmlcov
.ruff_cache
.tox

# Build artifacts
bin
dist
build
setup
*.egg-info

# Documentation
docs
*.md
logo
notebooks

# Misc
euler
*.bak
*.prof

# external
external/.pixi
external/dist/

# Docker files
Dockerfile
.dockerignore
