include cea/default.config

recursive-include cea/tests *.config
recursive-include cea/tests *.yml

include cea/examples/case_studies/*.zip
include cea/examples/code_recipes/*.ipynb
include cea/examples/workflows/*.yml

recursive-include cea/interfaces/dashboard *.html *.js *.css *.otf *.eot *.svg *.ttf *.woff *.woff2 *.png *.jpg *.gif *.ico

include cea/plots/naming.csv
include cea/schemas.yml
include cea/scripts.yml
include cea/workflows/*.yml

recursive-include cea/databases *.xlsx *.xls *.txt *.csv *.epw
recursive-include cea/lib *.so *.dylib
recursive-include cea/plots *.html
recursive-include cea/tests *.config *.yml

graft cea/resources/radiation/bin
