include cea/scripts.yml
include cea/schemas.yml
include cea/databases/weather/*.epw

recursive-include cea/databases *.xlsx *.xls

include cea/default.config
include cea/tests/test_calc_thermal_loads.config
include cea/tests/test_schedules.config
include cea/tests/radiation_data/*.csv
include cea/examples/*.zip

include cea/interfaces/dashboard/inputs/inputs.yml
recursive-include cea/interfaces/dashboard *.html *.js *.css *.otf *.eot *.svg *.ttf *.woff *.woff2 *.png *.jpg *.gif *.ico

include cea/plots/naming.csv
include cea/glossary.csv