<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><img src="/static/images/cea-logo.png" height="30px" />
      <span asdfstyle="font-size: 0.8em">City Energy Analyst</span></a>
  </div>

  <div class="clearfix"></div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Dashboard</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bar-chart"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/home/index">Dashboard</a></li>
            <li><a href="/home/index2">Dashboard2</a></li>
            <li><a href="/home/index3">Dashboard3</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-map-marker"></i> Project <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/forms/form">General Form</a></li>
            <li><a href="/forms/form_advanced">Advanced Components</a></li>
            <li><a href="/forms/form_validation">Form Validation</a></li>
            <li><a href="/forms/form_wizards">Form Wizard</a></li>
            <li><a href="/forms/form_upload">Form Upload</a></li>
            <li><a href="/forms/form_buttons">Form Buttons</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-building-o"></i> Inputs <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/ui/general_elements">Zone</a></li>
            <li><a href="/ui/media_gallery">District</a></li>
            <li><a href="/ui/typography">Age</a></li>
            <li><a href="/ui/icons">Occupancy</a></li>
            <li><a href="/ui/glyphicons">Internal Loads</a></li>
            <li><a href="/ui/widgets">Supply Systems</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Tools</h3>
      <ul class="nav side-menu">
        {% for tool_category in tools.keys() %}
          <li><a><i class="fa fa-cog"></i> {{tool_category}} <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              {% for tool in tools[tool_category] %}
              <li><a href="/tools/{{tool.cea_tool}}">{{tool.label}}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu_section">
      <h3>Documentation</h3>
      <ul class="nav side-menu">
        <li>
          <a href="http://city-energy-analyst.readthedocs.io/en/latest/" target="_blank">
            <i class="fa fa-book"></i> Manual <span class="fa fa-link"></span>
          </a>
        </li>
        <li><a><i class="fa fa-info"></i>Help <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/fixed_sidebar">Fixed Sidebar</a></li>
            <li><a href="/fixed_footer">Fixed Footer</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
