
concept\.egg-info/

\.idea/

\.vscode/

*.log

*.pyc

*.txt

tmp*

concept/model_building/outputs\.csv

concept/model_building/controls\.csv

external/building_model

external/

data/reference-case-WTP-reduced/WTP_MIX_m/concept/building-definition/

data/reference-case-WTP-reduced/WTP_RES_l/inputs/building-geometry/zone\.prj

*.sqlite

*.DS_Store

data/output_operation/*

!data/output_operation/README\.md

data/ga_output/*

!data/ga_output/README\.md

data/lp_op_output/*

!data/lp_op_output/README\.md

data/lp_output/*

!data/lp_output/README\.md

*building-definition*

*nodes_buildings*
