{% extends "base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/3.22.0/antd.css">
  <script src="{{ url_for('.static', filename='js/plotly-latest.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/react-dashboard.css') }}">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel cea-plot" id="cea-dashboard" style="min-height: 800px">
              <!-- Container for react components -->
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <script src="https://unpkg.com/html-react-parser@latest/dist/html-react-parser.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/antd/3.22.0/antd.min.js"></script>
  <script src="https://unpkg.com/html-react-parser@latest/dist/html-react-parser.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="{{ url_for('.static', filename='js/react-dashboard.js') }}" type="text/babel"></script>
{% endblock javascripts %}

