<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ 'css/config_editor.css'|staticfile }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>

<script src="{{'js/jquery-3.2.1.min.js'|staticfile}}"></script>
<script src="{{'js/config_editor.js'|staticfile}}"></script>

<div id="wrapper">
<div id="section-list" class="list-group" role="tablist">
    {% for section in config.sections.values() %}
        <a class="list-group-item list-group-item-action" id="section-list-{{section.name}}" data-toggle="list"
           href="#{{section.name}}" role="tab" aria-controls="home">{{ section.name }}</a>
    {% endfor %}
</div>
<div id="section-editor" class="tab-content">
    <form action="backend.save_config" name="config_form" data-bind="true">
    {% for section in config.sections.values() %}
        <div class="tab-pane fade show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        {% for parameter in section.parameters.values() %}
        <div id="section-editor-{{parameter.section.name}}" class="section">
            <label for="{{parameter.section.name}}-{{parameter.name}}">{{ parameter.name }}</label>
            <input id="{{parameter.section.name}}-{{parameter.name}}"
                   name="{{parameter.section.name}}:{{parameter.name}}" type="text"
                   value="{{parameter.encode(parameter.get())}}" />
        </div>
        {% endfor %}
        </div>
    {% endfor %}
    <input type="submit" value="Save"/>
    </form>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>