<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ 'css/config_editor.css'|staticfile }}">
</head>
<body>

<script src="{{'js/jquery-3.2.1.min.js'|staticfile}}"></script>
<script src="{{'js/config_editor.js'|staticfile}}"></script>

<div id="wrapper">
<div id="section-list">
    <ul>
    {% for section in config.sections.values() %}
    <li id="section-list-{{section.name}}" onclick="select_section('{{section.name}}')">{{ section.name }}</li>
    {% endfor %}
    </ul>
</div>
<div id="section-editor">
    <form action="backend.save_config" name="config_form" data-bind="true">
    {% for section in config.sections.values() %}
    <fieldset id="section-editor-{{ section.name }}" class="section">
        <legend>{{section.name}}</legend>
        {% for parameter in section.parameters.values() %}
        <div>
            <label for="{{parameter.section.name}}-{{parameter.name}}">{{ parameter.name }}</label>
            <input id="{{parameter.section.name}}-{{parameter.name}}"
                   name="{{parameter.section.name}}:{{parameter.name}}" type="text"
                   value="{{parameter.encode(parameter.get())}}" />
        </div>
        {% endfor %}
    </fieldset>
    {% endfor %}
    <input type="submit" value="Save"/>
    </form>
</div>
</div>
</body>
</html>