{% extends "landing.html" %}

{% block title %} New Project {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('tools_blueprint.static', filename='tools.css') }}">
{% endblock stylesheets %}

{% block body %}
    <!-- show the open file dialog -->
    <div class="modal fade" id="cea-file-dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- see template file_listing.html for contents -->

            </div>
        </div>
    </div>

    <!-- show the open folder dialog -->
    <div class="modal fade" id="cea-folder-dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- see template folder_listing.html for contents -->

            </div>
        </div>
    </div>

    <div class="landing-box">
        <div class="landing">
            <h2>New Project</h2>
            <br>
            <form id="new-project" data-parsley-validate class="form-horizontal form-label-left" method="post"
                  action="{{ url_for('landing_blueprint.route_save') }}">

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="projectName">Project Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <input id="projectName" class="form-control cea-parameter" data-cea-parameter-typename="StringParameter"
                               name="projectName" type="text" value="cea-new-project" placeholder="Name of your project" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="project">Output path</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <div class="input-group">
                            <input type="text" class="form-control cea-parameter" value="{{ project }}" placeholder="Select the path of the project you&#39;re working on"
                                   id="project" name="projectPath" data-cea-parameter-typename="PathParameter" required>
                            <div class="input-group-btn">
                                <button class="btn btn-file-parameter" type="button"
                                        onclick="show_open_folder_dialog('general:project')">...</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% block javascripts %}
  {{ super()}}
    <script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
    <script src="{{ url_for('tools_blueprint.static', filename='tools.js') }}"></script>
{% endblock javascripts %}
{% endblock body %}