{% extends "base_site.html" %}

{% block title %} Project Overview {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('landing_blueprint.static', filename='landing.css') }}">
{% endblock stylesheets %}

{% block content %}
    <!-- show the open prompt dialog -->
    <div class="modal fade" id="cea-prompt" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title" align="center">
                            <h1>{{ project_name }}</h1>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <button class="btn btn-success btn-block" onclick="window.location.href='{{ url_for('landing_blueprint.route_create_scenario') }}'">
                                <i class="fa fa-plus"></i> Create new Scenario
                            </button>
                            {% for scenario in scenarios %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title pull-left">
                                            {{ scenario }}
                                        </h3>
                                        {# TODO: Maybe change onclick to Javascript implementation #}
                                        <button class="btn btn-primary pull-right" onclick="window.location.href='{{ url_for('landing_blueprint.route_open_project_scenario', scenario=scenario) }}'">Open</button>
                                        <div class="btn-group pull-right">
                                          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Edit <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li><a href="#">Rename</a></li>
                                            <li><a href="#">Duplicate</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#" style="color: red" onclick="openSettings('{{ scenario }}', 'delete')">Delete</a></li>
                                          </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>
                                    <div class="panel-body">
                                        <div class="col-lg-2" style="min-width: 300px;">
                                            <div class="image-placeholder" id="{{ scenario }}-image" data-scenario="{{ scenario }}">
                                                <h4>No preview available.</h4>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <h3 id="{{ scenario }}-description">Description</h3>
                                            {% if descriptions[scenario] %}
                                                {% for key, value in descriptions[scenario].items() %}
                                                    <div>{{ key }}: {{ value }}</div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block javascripts %}
  {{ super()}}
  <script>
    function openSettings(scenario, func) {
        $.get('project-overview/' + scenario + '/' + func, {}, function(html) {
            $('#cea-prompt .modal-content').html(html);
            if (func === 'delete') {
                $('#cea-prompt').on('shown.bs.modal', function () {
                    $(this).find('#delete-input').focus();
                });
            }
            $('#cea-prompt').modal({'show': true, 'backdrop': 'static'});
        });
    }

    $(document).ready(function() {
        $("[id$=-image]").each(function() {
            var id = $(this).prop('id');
            $.get('get-image/'+ $(this).data('scenario'), {}, function(image) {
                $('#'+id).empty()
                .append($('<img>',{src: "data:image/jpeg;base64,"+image}))
            });
        });
     });
  </script>
{% endblock javascripts %}