{% extends "base_site.html" %}

{% block title %} Welcome {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('landing_blueprint.static', filename='landing.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""></script>
{% endblock stylesheets %}

<!--{% block body_class %}{% endblock body_class %}-->
{% block body %}
    <div class="landing-box">
        <div class="landing">
            <div class="logo">
                {% block logo %} <img src="/static/images/cea-logo.png"> {% endblock %}
                <h1>City Energy Analyst</h1>
            </div>
            <div id="mapid" style="width: 600px; height: 400px;"></div>
            <div id="lassoResult"></div>
            <button onclick="removePoly()">Clear</button>
            <button onclick="createPoly()">Done</button>
        </div>
    </div>

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='landing_map.js') }}"></script>
{% endblock javascripts %}
{% endblock body %}

