.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
  padding: unset;
  flex-grow: 1;
}

.plot-widget {
  min-width: 500px;
}
.ant-card-body a{
  color: #1890ff;
}