# This file configures the scripts as used by the command line interface ``cea.cli`` (this is the ``cea`` command
# installed when you ``pip install`` the CEA)
# This interface is used by the other interfaces (ArcGIS, Grasshopper etc.) to run CEA commands
[scripts]
demand = cea.demand.demand_main
data-helper = cea.datamanagement.data_helper
emissions = cea.analysis.lca.main
benchmark-graphs = cea.analysis.benchmark
list-demand-graphs-fields = cea.interfaces.cli.list_demand_graphs_fields
scenario-plots = cea.plots.scenario_plots
radiation = cea.resources.radiation_arcgis.radiation
photovoltaic = cea.technologies.solar.photovoltaic
solar-collector = cea.technologies.solar.solar_collector
photovoltaic-thermal = cea.technologies.solar.photovoltaic_thermal
radiation-daysim = cea.resources.radiation_daysim.radiation_main
install-toolbox = cea.interfaces.arcgis.install_toolbox
install-grasshopper = cea.interfaces.grasshopper.install_grasshopper
heatmaps = cea.plots.heatmaps
operation-costs = cea.analysis.costs.operation_costs
retrofit-potential = cea.analysis.retrofit.retrofit_potential
test = cea.tests.dodo
extract-reference-case = cea.examples.extract_reference_case
compile = cea.utilities.compile_pyd_files
excel-to-dbf = cea.interfaces.cli.excel_to_dbf
dbf-to-excel = cea.interfaces.cli.dbf_to_excel
shapefile-to-excel = cea.interfaces.cli.shapefile_to_excel
excel-to-shapefile = cea.interfaces.cli.excel_to_shapefile
sensitivity-demand-samples = cea.analysis.sensitivity.sensitivity_demand_samples
sensitivity-demand-simulate = cea.analysis.sensitivity.sensitivity_demand_simulate
sensitivity-demand-analyze = cea.analysis.sensitivity.sensitivity_demand_analyze
config-editor = cea.interfaces.config_editor.config_editor
create-new-project = cea.datamanagement.create_new_project
optimization = cea.optimization.optimization_main
sewage-potential = cea.resources.sewage_heat_exchanger
thermal-network-matrix = cea.technologies.thermal_network.thermal_network_matrix
supply-system-simulation = cea.supply.supply_system_simulation
plots = cea.plots.plots_main
plots-supply-system = cea.plots.supply_system.main
plots-optimization = cea.plots.optimization.main
plots-scenario-comparisons = cea.plots.comparisons.main
network-layout = cea.technologies.thermal_network.network_layout.main
decentralized = cea.optimization.preprocessing.decentralized_building_main
trace-inputlocator = cea.tests.trace_inputlocator
lake-potential = cea.resources.lake_potential
copy-default-databases = cea.datamanagement.copy_default_databases
multi-criteria-analysis = cea.analysis.multicriteria.main
thermal-network-optimization = cea.technologies.thermal_network.thermal_network_optimization
thermal-network-costs = cea.technologies.thermal_network.thermal_network_costs
[config]
demand = general:scenario general:region general:weather general:multiprocessing general:number-of-cpus-to-keep-free demand
data-helper = general:scenario general:region data-helper
emissions = general:scenario general:region emissions
benchmark-graphs = general:region benchmark-graphs
weather-files = general:scenario weather-files
weather-path = general:scenario weather-path
list-demand-graphs-fields = general:scenario
scenario-plots = scenario-plots
radiation = general:scenario general:weather radiation
photovoltaic = general:scenario general:region general:weather solar:type-pvpanel
               solar:panel-on-roof solar:panel-on-wall solar:annual-radiation-threshold solar:solar-window-solstice
solar-collector = general:scenario general:region general:weather solar:type-scpanel
                  solar:panel-on-roof solar:panel-on-wall solar:annual-radiation-threshold solar:solar-window-solstice
                  solar:t-in-sc
photovoltaic-thermal = general:scenario general:region general:weather solar:type-pvpanel solar:type-scpanel
                       solar:panel-on-roof solar:panel-on-wall solar:annual-radiation-threshold   solar:solar-window-solstice
                       solar:t-in-pvt
radiation-daysim = general:scenario general:region general:weather general:multiprocessing radiation-daysim
install-toolbox = general:debug
install-grasshopper =
heatmaps = general:scenario heatmaps:file-to-analyze heatmaps:analysis-fields
operation-costs = general:scenario general:region
retrofit-potential = general:scenario retrofit-potential
test = test
extract-reference-case = extract-reference-case
compile =
excel-to-dbf = dbf-tools:excel-file dbf-tools:dbf-file
dbf-to-excel = dbf-tools:dbf-file dbf-tools:excel-file
shapefile-to-excel = shapefile-tools
excel-to-shapefile = shapefile-tools
sensitivity-demand-samples = general:scenario sensitivity-demand:num-samples sensitivity-demand:samples-folder sensitivity-demand:method
                             sensitivity-demand:calc-second-order sensitivity-demand:grid-jump
                             sensitivity-demand:num-levels sensitivity-demand:variable-groups
sensitivity-demand-simulate = general:scenario general:weather general:multiprocessing general:region
                              sensitivity-demand:samples-folder
                              sensitivity-demand:simulation-folder sensitivity-demand:output-parameters
                              sensitivity-demand:number-of-simulations
                              sensitivity-demand:sample-index
                              demand
sensitivity-demand-analyze = sensitivity-demand:samples-folder sensitivity-demand:temporal-scale
config-editor =
create-new-project = create-new-project
optimization = general:scenario general:region general:weather
               thermal-network:network-type thermal-network:network-names
               optimization decentralized
sewage-potential = general:scenario sewage
thermal-network-matrix = general:scenario general:region general:weather general:multiprocessing
                         general:number-of-cpus-to-keep-free thermal-network
                         thermal-network-optimization:use-representative-week-per-month
supply-system-simulation = general:scenario general:region general:weather
                           supply-system-simulation optimization:iscooling optimization:isheating
                           thermal-network:network-type thermal-network:network-names decentralized
plots =  general:region general:scenario general:weather plots
plots-optimization = general:region general:scenario plots-optimization
plots-supply-system = general:region general:scenario plots-supply-system
plots-scenario-comparisons = plots-scenario-comparisons
network-layout = general:scenario network-layout
decentralized = general:scenario general:region general:weather decentralized
lake-potential = general:scenario lake
trace-inputlocator = general:scenario trace-inputlocator
copy-default-databases = general:scenario general:region
multi-criteria-analysis = general:scenario general:region multi-criteria
thermal-network-optimization = general:scenario general:region general:weather general:multiprocessing
                               general:number-of-cpus-to-keep-free network-layout thermal-network
                               thermal-network-optimization
thermal-network-costs = general:scenario general:region general:weather thermal-network:network-type
                        thermal-network-optimization:network-name


