# This file configures the scripts as used by the command line interface ``cea.cli`` (this is the ``cea`` command
# installed when you ``pip install`` the CEA)
# This interface is used by the other interfaces (ArcGIS, Grasshopper etc.) to run CEA commands
[scripts]
demand = cea.demand.demand_main
data-helper = cea.demand.preprocessing.data_helper
emissions = cea.analysis.lca.operation
embodied-energy = cea.analysis.lca.embodied
mobility = cea.analysis.lca.mobility
benchmark-graphs = cea.analysis.benchmark
list-demand-graphs-fields = cea.interfaces.cli.list_demand_graphs_fields
scenario-plots = cea.plots.scenario_plots
radiation = cea.resources.radiation_arcgis.radiation
photovoltaic = cea.technologies.solar.photovoltaic
solar-collector = cea.technologies.solar.solar_collector
photovoltaic-thermal = cea.technologies.solar.photovoltaic_thermal
radiation-daysim = cea.resources.radiation_daysim.radiation_main
install-toolbox = cea.interfaces.arcgis.install_toolbox
install-grasshopper = cea.interfaces.grasshopper.install_grasshopper
heatmaps = cea.plots.heatmaps
operation-costs = cea.analysis.lca.operation_costs
retrofit-potential = cea.analysis.retrofit.retrofit_potential
test = cea.tests.dodo
extract-reference-case = cea.examples.extract_reference_case
compile = cea.utilities.compile_pyd_files
excel-to-dbf = cea.interfaces.cli.excel_to_dbf
dbf-to-excel = cea.interfaces.cli.dbf_to_excel
shapefile-to-excel = cea.interfaces.cli.shapefile_to_excel
excel-to-shapefile = cea.interfaces.cli.excel_to_shapefile
sensitivity-demand-samples = cea.analysis.sensitivity.sensitivity_demand_samples
sensitivity-demand-simulate = cea.analysis.sensitivity.sensitivity_demand_simulate
sensitivity-demand-analyze = cea.analysis.sensitivity.sensitivity_demand_analyze
config-editor = cea.interfaces.config_editor.config_editor
create-new-project = cea.utilities.create_new_project

[config]
demand = general:scenario general:weather general:multiprocessing demand
data-helper = general:scenario data-helper
emissions = general:scenario emissions
embodied-energy = general:scenario embodied-energy
mobility = general:scenario
benchmark-graphs = benchmark-graphs
weather-files = general:scenario weather-files
weather-path = general:scenario weather-path
list-demand-graphs-fields = general:scenario
scenario-plots = scenario-plots
radiation = general:scenario general:weather radiation
photovoltaic = general:scenario general:weather solar:date-start solar:type-pvpanel
               solar:panel-on-roof solar:panel-on-wall solar:min-radiation solar:solar-window-solstice
solar-collector = general:scenario general:weather solar:date-start solar:type-scpanel
                  solar:panel-on-roof solar:panel-on-wall solar:min-radiation solar:solar-window-solstice
                  solar:t-in-sc solar:dpl solar:fcr solar:ro solar:eff-pumping solar:k-msc-max
photovoltaic-thermal = general:scenario general:weather solar:date-start solar:type-pvpanel solar:type-scpanel
                       solar:panel-on-roof solar:panel-on-wall solar:min-radiation solar:solar-window-solstice
                       solar:t-in-pvt solar:dpl solar:fcr solar:ro solar:eff-pumping solar:k-msc-max
radiation-daysim = general:scenario general:weather general:multiprocessing radiation-daysim
install-toolbox = 
install-grasshopper =
heatmaps = general:scenario heatmaps:file-to-analyze heatmaps:analysis-fields
operation-costs = general:scenario operation-costs
retrofit-potential = general:scenario retrofit-potential
test = test
extract-reference-case = extract-reference-case
compile =
excel-to-dbf = dbf-tools:excel-file
dbf-to-excel = dbf-tools:dbf-file
shapefile-to-excel = shapefile-tools
excel-to-shapefile = shapefile-tools
sensitivity-demand-samples = sensitivity-demand:num-samples sensitivity-demand:samples-folder sensitivity-demand:method
                             sensitivity-demand:calc-second-order sensitivity-demand:grid-jump
                             sensitivity-demand:num-levels sensitivity-demand:variable-groups
sensitivity-demand-simulate = general:scenario general:weather sensitivity-demand:samples-folder
                              sensitivity-demand:simulation-folder sensitivity-demand:output-parameters
                              sensitivity-demand:number-of-simulations
                              sensitivity-demand:sample-index
sensitivity-demand-analyze = sensitivity-demand:samples-folder sensitivity-demand:temporal-scale
config-editor =
create-new-project = create-new-project
