ul.cea-file-listing {
    padding-left: 0;
}

ul.cea-file-listing li {
    display: block;
}

ul.cea-file-listing li a {
    display: block;
    padding-top: 0.2em;
}

ul.cea-file-listing a.bg-primary:focus {
    color: #ffffff;
    background-color: #337ab7;
}

ul.cea-file-listing li:hover {
    color: #050505;
    background-color: #f5f5f5;
}

.collapsed:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.panel-title > a[class='']:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}