[general]
default-scenario: %(TEMP)s\reference-case-open\baseline
weather: %(CEA.DB)s\weather\Zug.epw
multiprocessing = true

[demand]
heating-season-start: 2017-08-01
heating-season-end: 2017-03-01
has-heating-season = true
cooling-season-start: 2017-03-02
cooling-season-end: 2017-07-31
has-cooling-season = true
use-dynamic-infiltration-calculation = false

[solar]
# site specific input
# format: yyyy-mm-dd
date-start = 2016-01-01

# type of panels
# for PVT, please choose type_PVpanel = 'PV1', type_SCpanel = 'SC1'
# PV1: monocrystalline, PV2: poly, PV3: amorphous. please refer to supply system database.
type-PVpanel = PV1

# SC1: flat plat collectors, SC2: evacuated tubes
type-SCpanel = SC1

# installed locations
# flag for considering panels on roof
panel-on-roof = True

# flag for considering panels on wall
panel-on-wall = True

# filtering criteria: at least a minimum production of this % from the maximum in the area.
min-radiation = 0.75

# panel spacing
# desired hours of solar window on the solstice
solar-window-solstice = 4

# inlet temperature of solar collectors [C]
T-in-SC = 75
# inlet temperature of PVT panels [C]
T-in-PVT = 35
# pressure losses per length of pipe according to Solar District Heating Guidelines, [Pa/m]
dpl = 200
# additional loss factor due to accessories
fcr = 1.3
# water density [kg/m3]
Ro = 1000
# pump efficiency
eff-pumping = 0.6

# solar collectors heat losses
# linear heat transmittance coefficient of piping (2*pi*k/ln(Do/Di))) [W/mK]
k-msc-max = 0.217

[radiation-daysim]
# Daysism radiation simulation parameters
rad-n = 2
rad-af = 'file'
rad-ab = 4
rad-ad = 512
rad-as = 256
rad-ar = 128
rad-aa = 0.15
rad-lr = 8
rad-st = 0.15
rad-sj = 0.7
rad-lw = 0.002
rad-dj = 0.7
rad-ds = 0.15
rad-dr = 3
rad-dp = 512

# GRID FOR THE SENSORS
# use 100 (maximum) if you want only one point per surface
sensor-x-dim = 5
sensor-y-dim = 5


# terrain parameters
# reflection for the terrain
e-terrain = 0.8

# simulation parameters
# min number of buildings for multiprocessing
n-buildings-in-chunk = 1
# limit the number if running out of memory
multiprocessing = False
# Flag for running all buildings or a list of buildings
run_all_buildings = False


# geometry simplification
# level of simplification of the zone geometry
zone-geometry = 2
# level of simplification of the district geometry
surrounding-geometry = 5
# boolean to consider or not windows in the geometry
consider-windows = True
# boolean to consider or not floors in the geometry
consider-floors = True