{% extends "base_site.html" %}

{% block title %} CEA Input Editor {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Inputs</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>{{ table_name }}</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table data-toggle="table">
                  <thead>
                  {% for column in table_columns %}
                    <th>{{ column }}</th>
                  {% endfor %}
                  </thead>
                  <tbody>
                  {% for row in table_rows %}
                    <tr>
                    {% for column in table_columns %}
                      <td>{{ row[column] }}</td>
                    {% endfor %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
{% endblock javascripts %}