{% extends "base_site.html" %}

{% block title %} CEA Input Editor {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('inputs_blueprint.static', filename='css/bootstrap-table.css') }}">
  <link rel="stylesheet" href="{{ url_for('inputs_blueprint.static', filename='css/bootstrap-editable.css') }}">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Inputs</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>{{ table_name }}</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table data-toggle="table"
                       data-pagination="true"
                       data-show-export="true"
                       data-id-field="{{ pk }}"
                       data-url="{{ url_for('inputs_blueprint.route_get_json', db=table_name) }}"
                       data-editable-url="{{ url_for('inputs_blueprint.route_post_json', db=table_name) }}">
                  <thead>
                  {% for column in table_columns %}
                    <th data-field="{{ column }}" data-editable="{{ (column != pk)|lower}}">{{ column }}</th>
                  {% endfor %}
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ url_for('inputs_blueprint.static', filename='js/bootstrap-editable.js') }}"></script>
  <script src="{{ url_for('inputs_blueprint.static', filename='js/bootstrap-table.js') }}"></script>
  <script src="{{ url_for('inputs_blueprint.static', filename='js/bootstrap-table-editable.js') }}"></script>
{% endblock javascripts %}